.container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-flow: row;
  gap: 1rem;
}
img {
  width: 80%;
  height: 300px;
}
.stats {
  display: flex;
  gap: 1rem;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}